body {
  height: 100vh;
  /* background: #000000; */
  margin: 0px !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    background: #1f2327;
  }

  .logo_div {
    display: none;
  }
}

.logo_div {
  position: fixed;
  right: 20px;
  bottom: 10px;
}

.logo_div img {
  width: 30%;
  display: block;
  margin-left: auto;
}

.App {
  background: #1f2327;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10rem;
  height: 100vh;
  border-radius: 20px;
}

h1,
h2,
b {
  color: #ffffff;
}

.start-button {
  font-weight: 600;
  font-size: 18px;
  width: 60%;
  margin-top: 32px;
  height: 50px;
  border-radius: 10px;
  background-color: #f1db06;
  color: #000000;
  border: 1px solid #f1db06;
  padding: 10px;
  cursor: pointer;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.start-input {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f1db06;
  border: none;
  height: 50px;
  color: #000000;
  width: 60%;
  text-align: center;
  font-size: 18px;
}

.start-input::placeholder {
  color: #000000;
}

.restart-button {
  width: 60%;
  margin-top: 32px;
  background-color: #f1db06;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.error-box {
  color: rgb(239, 44, 44);
  font-size: 12px;
  margin-top: 10px;
}

.final-message {
  line-height: 40px;
}

.start-page {
  margin-top: 36px;
}

.disable {
  background-color: #7e7e7e;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.disable-input {
  background-color: #c7c7c7;
  border: none;
  cursor: not-allowed;
}

